@import "../../index.scss";

#articles-page-container {
  @media (max-width: 1280px) {
    width: 98%;
  }

  #articles-list {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 10px;

    @media (max-width: 1280px) {
      width: 90%;
      grid-template-columns: auto;
    }
  }

  .articles-side {
    h3 {
      color: $base-title-color;
    }
  }
}
