#articles-list {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 10px;

  @media (max-width: 1280px) {
    grid-template-columns: auto;
  }
}

.articles-side {
  h3 {
    color: #3c4858;
  }
}
