@import "../../index.scss";

.article-container {
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  background-color: #fff;

  .image-container {
    width: 100%;
    margin-right: 10px;
    .image {
      display: block;
      width: 100%;
    }
  }

  .article-footer {
    border-top: 1px solid #d9d9d9;
    padding: 10px;
  }

  h5 {
    color: $base-title-color;
  }

  p {
    color: $base-description-color;
  }
}
