@import "../../index.scss";

.article-container {
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  height: 400px;
  background-color: #fff;
  position: relative;

  .image-container {
    width: 286px;
    height: 180px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    cursor: pointer;
    .image {
      display: block;
      width: 100%;
      height: 100%;
    }
  }

  .image-container:hover .image,
  .image-container:focus .image {
    transform: scale(1.2);
  }

  .article-footer {
    position: absolute;
    bottom: 10px;
    width: 100%;
    border-top: 1px solid #d9d9d9;
    padding: 10px;
  }

  h5 {
    color: $base-title-color;
  }

  p {
    color: $base-description-color;
  }
}
