#page-content-container {
  width: 98%;
  min-height: 100vh;
  height: auto;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-top: 20px;
  background-color: #f2f2f2;
  position: relative;
  z-index: 100;
  border-radius: 10px;
}
