#products-list {
  width: 70%;
  margin: auto;
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 10px;
  padding: 20px;
  justify-items: center;

  @media (max-width: 1280px) {
    width: 90%;
    grid-template-columns: auto;
  }
}

#home-page-articles-list {
  #home-page-articles-container {
    width: 70%;
    margin: auto;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
    padding: 20px;

    @media (max-width: 1280px) {
      width: 98%;
      grid-template-columns: auto;
    }
  }
}
