@import "../../index.scss";

.nav-link {
  text-decoration: none;
}

#navigation-bar {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}

.shopping-cart {
  display: flex;
  align-items: center;
  margin-left: auto;
  color: $primary-color;

  @media (max-width: 1280px) {
    display: inline-block !important;
    margin-right: auto;
  }

  span {
    font-size: 1.3em;
    margin-left: 5px;
  }

  svg {
    font-size: 1.5em;
    cursor: pointer;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
  }
}
