@import "../../index.scss";

.nav-link {
  text-decoration: none;
}

#navigation-bar {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}

svg {
  font-size: 1.5em;
  color: $base-text-buttons-color;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
