#app-container {
  width: 100%;
  height: 100vh;
  background-color: #d9d9d9;

  #app {
    width: 95%;
    height: 100%;
    margin: auto;
    padding-top: 100px;
    background-color: #f2f2f2;
  }
}
