$base-text-buttons-color: #e91e63;
$base-description-color: #999999;
$base-title-color: #3c4858;

* {
  font-family: "Raleway", Arial, Helvetica, sans-serif;
}

html {
  height: 100%;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  width: 100vw;
  height: 100%;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  overflow-x: hidden;
  background-color: #d9d9d9;
  position: relative;
}

.btn.btn-primary {
  background-color: $base-text-buttons-color;
  color: #fff;
  outline: none;
  border: none;

  &:focus {
    background-color: $base-text-buttons-color;
  }
}
