$primary-color: #e91e63;
$base-description-color: #999999;
$base-title-color: #3c4858;

* {
  font-family: "Raleway", Arial, Helvetica, sans-serif;
}

html {
  height: 100vh;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  overflow-x: hidden;
  background-color: #d9d9d9;
  position: relative;
}

.btn.btn-primary {
  background-color: $primary-color;
  color: #fff;
  outline: none;
  border: none;

  &:focus {
    background-color: $primary-color;
  }
}

.form-control {
  transition: border-color 0.2s linear;
}

.form-control:focus {
  border-color: $primary-color;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
